* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  font-size: 50%; }
  @media (min-width: 600px) {
    html {
      font-size: 60%; } }
  @media (min-width: 900px) {
    html {
      font-size: 62.5%; } }

body {
  text-align: center; }

.pp-l-header {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 5rem 4rem; }
  @media (min-width: 600px) {
    .pp-l-header {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      z-index: 1; } }

.pp-l-header--scroll {
  padding: 2rem;
  opacity: 0.9; }

.pp-c-site-logo__link {
  display: inherit;
  margin-bottom: 2rem; }
  @media (min-width: 600px) {
    .pp-c-site-logo__link {
      margin-bottom: 0; } }

.pp-c-site-logo__img {
  max-width: 100%;
  height: auto; }
  @media (min-width: 600px) {
    .pp-c-site-logo__img {
      max-width: 80%; } }
  @media (min-width: 900px) {
    .pp-c-site-logo__img {
      max-width: 50%; } }

.pp-c-navigation__list {
  display: flex;
  flex-direction: column; }
  @media (min-width: 600px) {
    .pp-c-navigation__list {
      flex-direction: row; } }

.pp-c-navigation__item {
  list-style: none; }
  .pp-c-navigation__item:not(:last-child) {
    margin-bottom: 1.5rem; }
    @media (min-width: 600px) {
      .pp-c-navigation__item:not(:last-child) {
        margin-bottom: 0;
        margin-right: 2.5rem; } }

.pp-c-navigation__link {
  text-decoration: none;
  color: #0090CC;
  font-size: 2.3rem;
  font-family: "Open Sans", sans-serif; }
  .pp-c-navigation__link:hover {
    color: #909090; }
  @media (min-width: 900px) {
    .pp-c-navigation__link {
      font-size: 3rem; } }

.pp-c-home {
  padding: 10rem 0;
  background-color: #0090CC; }
  @media (min-width: 600px) {
    .pp-c-home {
      padding: 12rem 0;
      position: relative;
      top: 13.3rem; } }
  @media (min-width: 900px) {
    .pp-c-home {
      padding: 15rem 0;
      top: 14.1rem; } }

.pp-c-home__heading {
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 4rem; }
  @media (min-width: 600px) {
    .pp-c-home__heading {
      font-size: 5.3rem;
      margin-bottom: 6rem; } }
  @media (min-width: 900px) {
    .pp-c-home__heading {
      font-size: 7rem; } }

.pp-c-home__paragraf {
  color: #fff;
  font-size: 2.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 7s steps(30, end); }
  @media (min-width: 600px) {
    .pp-c-home__paragraf {
      font-size: 3rem; } }
  @media (min-width: 900px) {
    .pp-c-home__paragraf {
      font-size: 4rem; } }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

.pp-c-about-us {
  background-image: url("../../img/About_us_cover.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 3rem 3rem 6rem 3rem; }
  @media (min-width: 600px) {
    .pp-c-about-us {
      padding: 6rem 0 8rem 0;
      position: relative;
      top: 13.3rem; } }
  @media (min-width: 900px) {
    .pp-c-about-us {
      padding: 8rem 0 13rem 0;
      top: 14.1rem; } }

.pp-c-about-us__heading {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  position: relative;
  padding: 3rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif; }
  .pp-c-about-us__heading::after {
    content: "";
    display: block;
    position: absolute;
    width: 8.5rem;
    top: 7.5rem;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff; }
  @media (min-width: 600px) {
    .pp-c-about-us__heading {
      font-size: 3.3rem; }
      .pp-c-about-us__heading::after {
        top: 9.2rem; } }
  @media (min-width: 900px) {
    .pp-c-about-us__heading {
      font-size: 4rem; }
      .pp-c-about-us__heading::after {
        top: 9.6rem; } }

.pp-c-about-us__paragraf {
  font-size: 1.6rem;
  color: #fff;
  font-family: "Open Sans", sans-serif; }
  @media (min-width: 600px) {
    .pp-c-about-us__paragraf {
      padding: 0 6rem;
      font-size: 1.7rem; } }
  @media (min-width: 900px) {
    .pp-c-about-us__paragraf {
      padding: 0 20rem;
      font-size: 1.9rem; } }

.pp-c-careers {
  background-color: #F2F2F1;
  padding: 6rem 1.5rem; }
  @media (min-width: 600px) {
    .pp-c-careers {
      padding: 7rem 3.5rem;
      position: relative;
      top: 13.3rem; } }
  @media (min-width: 900px) {
    .pp-c-careers {
      padding: 10rem 5.5rem;
      top: 14.1rem; } }

.pp-c-careers__heading {
  color: #0090CC;
  margin-bottom: 3rem; }
  .pp-c-careers__heading::after {
    background-color: #909090;
    top: 8.8rem; }
  @media (min-width: 900px) {
    .pp-c-careers__heading::after {
      top: 10.4rem; } }

.pp-c-careers-dropdown {
  padding: 2rem; }
  .pp-c-careers-dropdown:not(:last-child) {
    margin-bottom: 5rem; }

.pp-c-careers-dropdown__link {
  text-decoration: none;
  color: #0090CC;
  font-size: 2rem;
  display: block;
  font-weight: 600;
  font-family: "Montserrat", sans-serif; }
  @media (min-width: 600px) {
    .pp-c-careers-dropdown__link {
      font-size: 2.5rem; } }
  @media (min-width: 900px) {
    .pp-c-careers-dropdown__link {
      font-size: 3.2rem; } }

.pp-c-careers-dropdown__container {
  display: none;
  padding: 1rem 2rem; }
  @media (min-width: 600px) {
    .pp-c-careers-dropdown__container {
      padding: 1rem 3.2rem; } }
  @media (min-width: 900px) {
    .pp-c-careers-dropdown__container {
      padding: 2rem 8rem; } }

.pp-c-careers-dropdown__paragraf {
  font-size: 1.5rem;
  font-weight: 600;
  color: #909090;
  margin: 1rem 0;
  text-align: left; }
  @media (min-width: 600px) {
    .pp-c-careers-dropdown__paragraf {
      font-size: 2rem; } }
  @media (min-width: 900px) {
    .pp-c-careers-dropdown__paragraf {
      font-size: 2.8rem; } }

.pp-c-careers-dropdown__list {
  padding: 1rem 3rem; }
  @media (min-width: 900px) {
    .pp-c-careers-dropdown__list {
      padding: 1rem 6rem; } }

.pp-c-careers-dropdown__item {
  list-style: disc;
  font-size: 1.4rem;
  color: #909090; }
  .pp-c-careers-dropdown__item:not(:last-child) {
    margin-bottom: 3rem; }
  @media (min-width: 600px) {
    .pp-c-careers-dropdown__item {
      font-size: 1.9rem; }
      .pp-c-careers-dropdown__item:not(:last-child) {
        margin-bottom: 4rem; } }
  @media (min-width: 900px) {
    .pp-c-careers-dropdown__item {
      font-size: 2.8rem; } }

.pp-c-team {
  background-color: #fff;
  padding: 3rem; }
  @media (min-width: 600px) {
    .pp-c-team {
      position: relative;
      top: 13.3rem; } }
  @media (min-width: 900px) {
    .pp-c-team {
      padding: 10rem 7rem;
      top: 14.1rem; } }

.pp-c-team__heading {
  color: #0090CC; }
  .pp-c-team__heading::after {
    background-color: #909090;
    top: 8.8rem; }
  @media (min-width: 900px) {
    .pp-c-team__heading::after {
      top: 10.4rem; } }

.pp-c-team-members {
  display: flex;
  flex-direction: column;
  padding: 0 5rem; }
  @media (min-width: 600px) {
    .pp-c-team-members {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;
      padding: 0; } }

@media (min-width: 600px) {
  .pp-c-members__template {
    flex: 50% 0 1; } }

@media (min-width: 900px) {
  .pp-c-members__template {
    flex: 30% 0 0; } }

.pp-c-team-member {
  padding: 5rem;
  margin-right: 2rem; }
  @media (min-width: 900px) {
    .pp-c-team-member {
      padding: 3rem; } }

.pp-c-team-member__img {
  width: 100%;
  height: auto; }

.pp-c-team-member__name {
  color: #909090;
  font-family: "Open Sans", sans-serif;
  font-size: 2.3rem;
  font-weight: 700;
  padding: 0.8rem 0; }
  @media (min-width: 900px) {
    .pp-c-team-member__name {
      font-size: 2.6rem; } }

.pp-c-team-member__job {
  color: #c2c2bf;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 500; }
  @media (min-width: 900px) {
    .pp-c-team-member__job {
      font-size: 2.2rem; } }

.pp-c-team-member__social {
  margin-top: 1rem; }

.pp-c-team-member__icon {
  font-size: 3rem;
  color: #0090CC;
  margin-right: 1.5rem; }
  @media (min-width: 900px) {
    .pp-c-team-member__icon {
      font-size: 3.5rem; } }

.pp-c-team-members--hidden {
  display: none; }

.pp-l-footer {
  padding: 5rem;
  background-color: #0090CC; }
  @media (min-width: 600px) {
    .pp-l-footer {
      position: relative;
      top: 13.3rem;
      padding: 7rem; } }
  @media (min-width: 900px) {
    .pp-l-footer {
      top: 14.1rem;
      padding: 9rem; } }

.pp-l-footer__paragraf {
  color: #fff;
  font-size: 2rem; }
  @media (min-width: 600px) {
    .pp-l-footer__paragraf {
      font-size: 2.3rem; } }
