.pp-l-header {
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    padding: 5rem 4rem;


    @include respond(tablet) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        z-index: 1;
    }
}

.pp-l-header--scroll {
    padding: 2rem;
    opacity: 0.9;
}