.pp-c-home {
    padding: 7rem 0;
    background-color: $color-blue;

    @include respond (tablet) {
        padding: 8.5rem 0;
    }

    @include respond (desk) {
        padding: 10rem 0;
    }
}

.pp-c-home__heading {
    color: $color-white;
    font-size: 3rem;
    font-weight: 700;
    font-family: $secondary-font;
    letter-spacing: 1px;
    margin-bottom: 2rem;

    @include respond (tablet) {
        font-size: 4rem;
    }

    @include respond (desk) {
        font-size: 5.3rem;
    }
}

.pp-c-home__paragraf {
    color: $color-white;
    font-size: 2rem;
    font-family: $secondary-font;
    font-weight: 500;
    letter-spacing: 1px;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 5s steps(30, end);

    @include respond (tablet) {
        font-size: 3rem;
    }

    @include respond (desk) {
        font-size: 4rem;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}