.pp-c-site-logo__link {
    display: inherit;
    margin-bottom: 2rem;

    @include respond (tablet) {
        margin-bottom: 0;
    }
}

.pp-c-site-logo__img {
    max-width: 100%;
    height: auto;

    @include respond (tablet) {
        max-width: 80%;
    }

    @include respond (desk) {
        max-width: 50%;
    }
}