.pp-c-site-logo__link {
    display: inherit;
}

.pp-c-site-logo__img {
    max-width: 100%;
    height: auto;

    @include respond (tablet) {
        max-width: 80%;
    }

    @include respond (desk) {
        max-width: 50%;
    }

}